<div name="contact" class="bg-gradient-to-br from-gray-900 to-blue-900 ">
    <p class="py-5 pl-10 text-3xl font-bold text-myColor text-center">Get In Touch</p>
    <!-- <p class="pt-2 pl-10 text-sm text-gray-400">
      Submit the form below to get in touch with me
    </p> -->
    <div class="flex items-center justify-center">
      <div class="w-full max-w-xs xs:max-w-sm sm:max-w-lg mt-3 mb-10">
        <form
          action="https://getform.io/f/a18c12b6-0993-46cd-8cce-81067d1c0b4e"
          method="POST"
          class="bg-white/10 rounded-xl bg-opacity-70 px-8 pt-6 pb-6 mb-4"
        >
          <div class="mb-4">
            <label
              class="block text-white text-sm font-bold mb-2"
              for="name"
            >
              Name
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white"
              id="name"
              name="name"
              type="text"
              placeholder="Enter your Name"
            />
          </div>
          <div class="mb-6">
            <label
              class="block text-white text-sm font-bold mb-2"
              for="email"
            >
              E-Mail
            </label>
            <input
              class=" shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline bg-white"
              id="password"
              name="email"
              type="email"
              placeholder="Enter your mail"
            />
          </div>
          <div class="mb-3">
            <textarea
              name="message"
              class="shadow appearance-none border rounded  w-full py-2 px-3 h-24  text-gray-700  leading-tight focus:outline-none focus:shadow-outline  overflow-hidden resize-none bg-white"
              placeholder="Enter your comments"
            ></textarea>
          </div>
          <div class="flex items-center justify-end">
            <button
              class="flex items-center px-3 py-1 my-2 text-white rounded-md cursor-pointer group w-fit bg-myColor font-bold"
              type="submit"
            >
              Let's Talk
              <span class="duration-300 group-hover:translate-x-2">
                <svg fill="white" width="20px" height="20px" viewBox="-100 -50 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"/></svg>
            </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>